*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
.top-nav{
  /* background-color: blue; */
}
.top-nav h1{
  word-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.btn{
  margin-top: 10px;
  margin-left: 200px;
  /* background-color: red; */
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn button{
  width: 80px;
  height: 30px;
  color: black;
  background-color: darkorange;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: white;
}
.dishes{
  margin: 50px 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  /* border: 2px solid black; */
  row-gap: 40px;
  column-gap: 40px;
}
.dishes div{
  /* margin: 10px; */
  width: 400px;
  height: 180px;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 3px 3px 15px black;
}
.maggi{
  display: flex;
}
.maggi img{
  width: 150px;
  height: 180px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.maggi img:hover{
  transform: scale(1.15);
}
.content h3{
  margin: 5px 10px;
}
.content h4{
  margin: 10px 10px;
  color: cornflowerblue;
}
.content button{
  margin-left: 50px;
  background-color: rgb(10, 134, 134);
  color: white;
  border: none;
  outline: none;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.content p{
  margin: 10px 10px;
  font-size: 0.8rem;
}
