* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.outer-box{
  width: 100%;
  height: 100vh;
  background-color: dodgerblue;
}
.inner-box{
  position: relative;
  top: 40%;
  text-align: center;
}
.inner-box h1{
  font-size: 5rem;
}
.btn Button{
  margin: 20px;
  padding: 10px;
}